toolz
frozendict==2.3.4

numpy>=1.21.0
networkx
osmnx>=1.1.1
matplotlib>=3.4.0

PyGeometry-z6
reprep-z6>=6.0.3,<7

dg-commons==0.0.27

tqdm>=4.64.1
pre-commit


# Rebuild the container to install the following modules

# ex06
triangle

# ex07
pulp>=2.7.0
ortools>=9.4.1874
cvxpy==1.2.2
cvxopt>=1.3.0
cylp>=0.91.5

# ex08
do-mpc==4.4.0
