# general 
numpy>=1.21.0
networkx==3.1
osmnx==1.6.0
matplotlib>=3.7.2
frozendict==2.3.4
pre-commit


# zuper 
zuper-commons-z7==7.2
PyGeometry-z7==7.2
reprep-z7==7.2
pycontracts3==7.2
xtermcolor
pytz
aiofiles
future
webcolors
typing_extensions
decorator

# dg  
dg-commons==0.0.33


# Rebuild the container to install the following modules

# ex06
# triangle

# ex07
# pulp>=2.7.0
# ortools>=9.4.1874
cvxpy==1.3.2
cvxopt==1.3.2
#cylp==0.91.6

# ex08
do-mpc==4.6.0
