# general 
numpy>=1.21.0
networkx==3.1
osmnx==1.6.0
matplotlib>=3.7.2
frozendict==2.3.4
pre-commit
pyyaml
shapely>=2.0.0
#
ipython==8.15.0
ipykernel==6.25.2

# zuper 
zuper-commons-z7==7.2
PyGeometry-z7==7.2
reprep-z7==7.2
pycontracts3==7.2
xtermcolor
pytz
aiofiles
future
webcolors
typing_extensions
decorator

# triangle
triangle==20230923

# dg
# git+ssh://git@github.com/idsc-frazzoli/dg-commons.git@a0d5b4e191aa7d75f7ada29a83f51a5720d0ea3f
dg-commons==0.0.43

# mpc
do-mpc==4.6.0

# optimization
# pulp>=2.7.0
# ortools>=9.4.1874
cvxpy==1.3.2
casadi==3.6.4
# cvxopt==1.3.2
#cylp==0.91.6
